{#{% extends 'base.html' %}#}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
    <h2>Invites</h2>
    <table>
    <tr><th>Eventname</th><th>By</th><th>message</th></tr>
    {% for i in invites %}
        <tr><td>{{ i.event.name }}</td><td>{{ i.sender }}</td><td>{{ i.msg }}</td></tr>
    {% endfor %}
    </table>
    <h2>Events</h2>
    <table>
    <tr>
        <th>By</th><th>Name</th><th>Description</th><th>venue</th><th>State</th><th>City</th><th>Date</th><th>Time</th></tr>
    {% for e in events %}
        <tr><td>{{ e.user}}</td><td>{{  e.name}}</td><td>{{  e.description}}</td><td>{{ e.venue}}</td><td>{{e.state}}</td><td>{{ e.city}}</td><td>{{  e.date}}</td><td>{{ e.time}}</td></tr>

    {% endfor %}
    </table>
{% endblock %}