{% extends 'base.html' %}
{% block head %}
<title>
      Change Password
</title>
{% endblock head %}
{% block content %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:34%;max-width:1400px;margin-top:20px;padding:10px;float: right;">
  <h1>Password Reset Sent</h1>
  <p>
    We've emailed you instructions for setting your password,
    if an account exists with the email you entered. You should receive them shortly.<br>

    If you don't receive an email, please make sure you've entered
    the address you registered with, and check your spam folder.
  </p>
</div>
{% endblock %}