{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>
      Change Password
</title>
{% endblock head %}
{% block css %}
{{ block.super }}
<style>
ul li{
  margin-left:0;
}
input {
  width: 100%;
  height: 40px;
  font-size: 22px;
  padding: 5px;
}
#Submit{
  color: aqua;
  background-color: rgb(52, 50, 51);
  transition: all 0.1s ease;
  cursor: pointer;
  width: 50%;
  border-color: aqua;
  border-radius: 100px;
  background: none;
  font-family: Sitefont-medium;
  font-size: 15px;
  padding: 7px;
}
#Submit:hover{
  color: rgb(52, 50, 51);
  background-color: aqua;
  transition: all 0.1s ease;
}
label{
  font-size: 22px;
}
</style>
{% endblock css %}
{% block content %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:34%;max-width:1400px;margin-top:20px;padding:10px;float: right;">
    <h1>Password Reset</h1>
    <p>
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}<br>
        <center><button type="submit" id="Submit">Reset Password</button></center>
    </form>
</div>
{% endblock %}