{#{% extends 'base_blank.html' %}#}
{% load crispy_forms_tags %}
{% block head %}
<title>
      Fill in your details
</title>
{% endblock head %}
{% block css %}
{#{{ block.super }}#}
<style>
ul li{
  margin-left:0;
}
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-family: Sitefont-medium;
    margin: 0px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px aqua;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, aqua 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, aqua 4%);
    background-position: -2000px 0;
    background-repeat: no-repeat;
    color: aqua;
}
input[type=text]:focus, input[type=text]:valid, input[type=email]:focus, input[type=email]:valid, input[type=password]:focus, input[type=password]:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
input[type=text]:focus::-webkit-input-placeholder, input[type=text]:valid::-webkit-input-placeholder {
    color: aqua;
    font-size: 11px;
    -webkit-transform: translateY(-100px);
            transform: translateY(100px);
    visibility: visible !important;
}
#Submit{
  color: aqua;
  background-color: rgb(52, 50, 51);
  transition: all 0.1s ease;
  cursor: pointer;
  width: 50%;
  border-color: aqua;
  border-radius: 100px;
  background: none;
  font-family: Sitefont-medium;
  font-size: 15px;
  padding: 7px;
}
#Submit:hover{
  color: rgb(52, 50, 51);
  background-color: aqua;
  transition: all 0.1s ease;
}
label{
  font-size: 22px;
}
#div_id_picture{
  font-size: 18px;
  text-align: justify;
  background: rgba(0,0,0, 0.2);
  padding-top:15px ;
  border-radius: 0px 0px 10px 10px;
}
#id_picture {
  width: 70%;
}
#id_picture::-webkit-file-upload-button{
  color: aqua;
  background-color: rgb(52, 50, 51);
  transition: all 0.1s ease;
  cursor: pointer;
  border-color: aqua;
  border-radius: 100px;
  background: none;
  font-family: Sitefont-medium;
  font-size: 15px;
  padding: 7px;
  width: 125px;
}
</style>
{% endblock css %}
{% block content %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:34%;max-width:1400px;margin-top:20px;padding:10px;float: right;">
  <h1>Tell Us More About Yourself</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ profile_form|crispy }}<br>
    <label for="Interest">Interests:</label><input type="text" name="interests" value="" id="Interest"><br>
    <center><button type="submit" class="btn-default btn-lg" id = "Submit">Submit</button></center>
  </form>
</div>
{% endblock %}
