{% extends 'base_blank.html' %}
{% block content %}
{% block head %}
<title>
      Confirm your email
</title>
{% endblock head %}
<div class="w3-container w3-content" style="max-width:1400px;margin-top:150px; text-align:center;">
  <h1>Email Confirmation Sent</h1>
  <p><br>
    We've emailed you a link to verify your account.<br>
    If an account with the email you entered exists, then you should receive it shortly.
  </p>
  <a href="{% url 'home' %}">Return to homepage</a>
</div>
{% endblock %}
