{% extends 'base.html' %}
{% block head %}
<title>
      Change Password
</title>
{% endblock head %}
{% block css %}
{{block.super}}
<style>
      #Submit{
            color: aqua;
            background-color: rgb(52, 50, 51);
            transition: all 0.1s ease;
            cursor: pointer;
            width: 50%;
            border-color: aqua;
            border-radius: 100px;
            background: none;
            font-family: Sitefont-medium;
            font-size: 15px;
            padding: 7px;
      }
      #Submit:hover{
            color: rgb(52, 50, 51);
            background-color: aqua;
            transition: all 0.1s ease;
      }
</style>
{% endblock css %}
{% block content %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:34%;max-width:1400px;margin-top:50px;padding:10px;float: right;">
  <center>
    <h1>Password Reset Complete</h1>
    <p>
      Your password has been reset. You can now login
    </p><br><br>
    <button id="Submit" onclick="window.location.href='{% url "accounts:login" %}'">Login</button>
  </center>
</div>
{% endblock %}